/* Font Family */
@font-face {
    font-family:hind_siliguri_bold ;
    src: url('../assets/font/hind_siliguri_bold.woff');
}
@font-face {
    font-family:hind_siliguri_medium ;
    src: url('../assets/font/hind_siliguri_medium.woff');
}
@font-face {
    font-family:hind_siliguri_regular ;
    src: url('../assets/font/hind_siliguri_regular.woff');
}
@font-face {
    font-family:hind_siliguri_semi_bold;
    src: url('../assets/font/hind_siliguri_semi_bold.woff');
}

:root {
    /* Color Palette */
    --primary-color: #FFC000;
    --background-color:#F9F9FA;
    --black-color:#101828;
    --green-color:#006A4E;
    --red-color:#F42A41;
    --text-color: #101828;
    --text-font-color:#FFFFFF;
    /* Card */
    --card-border-color:#FFC000;
    --card-background-color:#fffbee;
    --card-hover-bacground-color:#FFE699;
    --card-calender-color:#ff8c4b;



    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;


    /* Typography */
    --font-size-small:11px;
    --font-size-card-caption:12px;
    --font-size-base: 14px;
    --font-size-regular: 16px;
    --font-size-course-title:20px;
    --font-size-category-title:26px;
    --font-size-heading: 36px;


    /* Border Radius */
    --border-radius-1: 8px;
    --border-radius-5: 50px;

    /* Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-speed: 0.3s;
    --transition-ease: ease-in-out;

    /*Font Family*/
    --font-regular:hind_siliguri_regular;
    --font-medium: hind_siliguri_medium;
    --font-bold: hind_siliguri_bold;
    --font-semi-bold:hind_siliguri_semi_bold;

}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    outline: none;
    border: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
html,body{
    width: 100%;
}
body{
    font-family: var(--font-regular); 
    background-color: var(--background-color);
    position: relative;
}
.color{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(50%,50%);
}
/* ------------Utilities-------------- */
body.no-scroll {
    overflow: hidden; /* Disable scrolling */
}
.container{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}
.nav-font-styling{
    font-size: var(--font-size-base);
    font-family: var(--font-semi-bold);
    color: var(--text-color);
}
.flex-center{
    display: flex;
    align-items: center;
}
.d-block{
    display: block !important;
}
.rotate-180{
    transform: rotate(180deg);
}
.d-flex{
    display: flex !important;
}
.d-none{
    display: none;
}
.gap-16{
    gap:16px;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}
.bg-aside-sec{
    background-color: #D0D5DD;
}
.outline{
    outline: 2px solid black;
}
/* ------dev utilities-------- */
.bg-1{
    background-color: cornsilk;
}
.bg-2{
    background-color: yellow;
}
.bg-3{
    background-color: cyan;
}
.bg-4{
    background-color: antiquewhite;
}
.bg-w{
    background-color: #fff;
}



/* !-------------------Scroll bar Styling------------------ */

/* Custom Scrollbar Styling (WebKit browsers) */
.global-scrollbar::-webkit-scrollbar{
    width: 5px; /* Width of the scrollbar */
}

.global-scrollbar::-webkit-scrollbar-track{
    background: #d0d5dd;; /* Background of the scrollbar track */
   /* Rounded corners */
    border-top-right-radius:50px ;
    overflow: hidden;
}

.global-scrollbar::-webkit-scrollbar-thumb{
    background: var(--black-color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.global-scrollbar::-webkit-scrollbar-thumb:hover{
    background: #555; /* Color when hovered */
}