/* ----------------Media quaries-------------- */

@media  (max-width: 1360px){
    .special img{
        display: none;
    }
}
@media  (max-width: 1325px){
    #left-nav-download{
        display: none;
    }
}
@media  (max-width: 1240px){
    #left-nav-special a img{
        display: none;
    }
    .special::after{
        transform: translate(-50.2%,-48.7%);
    }
}
@media  (max-width: 1219px){
    #nav-blog{
        display: none;
    }
}
@media  (max-width: 1209px){
    #free-courses{
        display: none;
    }
    #more{
        display: flex;
    }
}
@media  (max-width: 1153px){

}
@media  (max-width: 1160px){
    
}
@media  (max-width: 1118px){
    #codemama{
        display: none;
    }
}
@media  (max-width: 1023px){
    .od-course-expand{
        display: none;
    }
    #left-nav-special, #od-language, .od-notification-wrapper{
        display: none;
    }
    .ostad-left-nav-links{
        gap:8px;
    }
    .container{
        display: flex;
        max-width: 690px;
        width: 100%;
        padding-inline: 15px;
    }
    .od-left-links-container{
        gap:0px;
    }
    #moreBtn img{
        width: 24px;
        scale: 0.4;
    }
    #xl-logo{
        display: none;
    }
    .ostad-logo{
        width:fit-content;
    }
    #sm-logo{
        display: block;
        width: 28px;
    }
    .od-left-links-container{
        gap: 16px;
    }
}
@media  (max-width: 767px){
    #more{
        display: none;
    }
    .container{
        max-width: 510px;
        width: 100%;
    }
    #clicked-hidden{
       
        margin-left: auto;
    }
    #clicked-hidden button span{
        display: none;
    }
    #clicked-hidden button{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clicked-hidden button img{
        width: 24px;
        height: 24px;
    }
    .od-left-links-container{
        gap: 8px;
    }
    .gap-16{
        gap:8px;
    }
    .od-all-courses-container, .od-dashboard{
        padding: 4px 12px;
        border-radius: 4px;
    }
    #allCrsesNavBtn .sm-hid{
        display: none;
    }
    .od-dashboard img{
        display: none;
    }
    #left-nav-special{
        display: flex;
    }
    .special::after{
        top:50%;
        left: 50%;
        transform: translate(-50%,-51%);
    }
    #left-nav-special .nav-font-styling{
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 4px;
    }
    #od-pr-btn{
        display: none;
    }
    #menu-btn{
        display: block;
    }
    #menu-btn a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu-btn a img{
        width: 24px;
        height: 24px;
    }
}


@media  (max-width: 470px){
    .container{
        width: 100%;
    }
}
@media  (max-width: 458px){
    #allCrsesNavBtn img{
        display: none;
    }
    .container {
        padding-inline: 5px;
    }
  
    .od-left-links-container, .ostad-left-nav-links, .gap-16, .od-right-links-container{
        gap:4px;
    } 
}
@media  (max-width: 410px){
    #all-crs-se{
        display: none;
    }
}
@media  (max-width: 372px){
 
}
