

/* Font Family */
@font-face {
    font-family:hind_siliguri_bold ;
    src: url('../assets/font/hind_siliguri_bold.woff');
}
@font-face {
    font-family:hind_siliguri_medium ;
    src: url('../assets/font/hind_siliguri_medium.woff');
}
@font-face {
    font-family:hind_siliguri_regular ;
    src: url('../assets/font/hind_siliguri_regular.woff');
}
@font-face {
    font-family:hind_siliguri_semi_bold;
    src: url('../assets/font/hind_siliguri_semi_bold.woff');
}

:root {
    /* Color Palette */
    --primary-color: #FFC000;
    --background-color:#F9F9FA;
    --black-color:#101828;
    --secondary-color: ;
    --accent-color: ;
    --green-color:#006A4E;
    --red-color:#F42A41;
    --text-color: #101828;
    --text-font-color:#FFFFFF;
    /* Card */
    --card-border-color:#FFC000;
    --card-background-color:#fffbee;
    --card-hover-bacground-color:#FFE699;
    --card-calender-color:#ff8c4b;



    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;


    /* Typography */
    --font-size-small:11px;
    --font-size-card-caption:12px;
    --font-size-base: 14px;
    --font-size-regular: 16px;
    --font-size-course-title:20px;
    --font-size-category-title:26px;
    --font-size-heading: 36px;


    /* Border Radius */
    --border-radius: 8px;

    /* Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-speed: 0.3s;
    --transition-ease: ease-in-out;

    /*Font Family*/
    --font-regular:hind_siliguri_regular;
    --font-medium: hind_siliguri_medium;
    --font-bold: hind_siliguri_bold;
    --font-semi-bold:hind_siliguri_semi_bold;

}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: var(--font-regular); 
}
.color{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(50%,50%);
}
/* ------------Utilities-------------- */
.container{
    max-width: 1400px;
    margin-inline: auto;
}


/* ----------------Media quaries-------------- */

@media  (max-width: 1240px){
    .color{
        background-color: darkblue;
      }
}
@media  (max-width: 1210px){
    .color{
        background-color: cyan;
      }
}
@media  (max-width: 1160px){
    .color{
        background-color: chocolate;
    }
}
@media  (max-width: 1024px){
    .color{
        background-color:aqua ;
      }
}
@media  (max-width: 768px){
    .color{
        background-color:brown ;
      }
}
@media  (max-width: 640px){
    .color{
        background-color: blue;
    }
}
@media  (max-width: 400px){
    .color{
        background-color: yellow;
      }
}
@media  (max-width: 372px){
    .color{
      background-color:green ;
    }
}