/* Font Family */
@font-face {
    font-family:hind_siliguri_bold ;
    src: url('../assets/font/hind_siliguri_bold.woff');
}
@font-face {
    font-family:hind_siliguri_medium ;
    src: url('../assets/font/hind_siliguri_medium.woff');
}
@font-face {
    font-family:hind_siliguri_regular ;
    src: url('../assets/font/hind_siliguri_regular.woff');
}
@font-face {
    font-family:hind_siliguri_semi_bold;
    src: url('../assets/font/hind_siliguri_semi_bold.woff');
}

:root {
    /* Color Palette */
    --primary-color: #FFC000;
    --background-color:#F9F9FA;
    --black-color:#101828;
    --secondary-color: ;
    --accent-color: ;
    --green-color:#006A4E;
    --red-color:#F42A41;
    --text-color: #101828;
    --text-font-color:#FFFFFF;
    /* Card */
    --card-border-color:#FFC000;
    --card-background-color:#fffbee;
    --card-hover-bacground-color:#FFE699;
    --card-calender-color:#ff8c4b;



    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;


    /* Typography */
    --font-size-small:11px;
    --font-size-card-caption:12px;
    --font-size-base: 14px;
    --font-size-regular: 16px;
    --font-size-course-title:20px;
    --font-size-category-title:26px;
    --font-size-heading: 36px;


    /* Border Radius */
    --border-radius-1: 8px;
    --border-radius-5: 50px;

    /* Shadows */
    --box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Transitions */
    --transition-speed: 0.3s;
    --transition-ease: ease-in-out;

    /*Font Family*/
    --font-regular:hind_siliguri_regular;
    --font-medium: hind_siliguri_medium;
    --font-bold: hind_siliguri_bold;
    --font-semi-bold:hind_siliguri_semi_bold;

}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
body{
    font-family: var(--font-regular); 
    background-color: var(--background-color);
}
.color{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(50%,50%);
}
/* ------------Utilities-------------- */
.container{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 20px;
}
.nav-font-styling{
    font-size: var(--font-size-base);
    font-family: var(--font-semi-bold);
    color: var(--text-color);
}
.flex-center{
    display: flex;
    align-items: center;
}
.d-block{
    display: block;
}

/* ------dev utilities-------- */
.bg-1{
    background-color: cornsilk;
}
.bg-2{
    background-color: yellow;
}
.bg-3{
    background-color: cyan;
}
.bg-4{
    background-color: antiquewhite;
}
.bg-w{
    background-color: #fff;
}

/* -------------------Navbar------------------- */

/*-------------------- Rignt nav links------------------ */
.od-search img{
    width: 28px;
}
.with-img img,.special a img{
    width:24px;
}
.od-notification-container img{
    width: 16px;
}
.od-language-container img,
.od-all-courses-container img,
.od-dashboard img{
    width: 20px;
}
.od-profile span img{
    width: 12px;
}

.ostad-logo{
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.od-links div a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 6px 8px;
    cursor: pointer;
    gap:8px;
    border-radius:4px;
    transition:background-color .3s cubic-bezier(0.4, 0, 0.2, 1);;
}
.od-links div a:hover{
    background-color: var(--background-color);
}

.od-search{
    width: 177px;
    background-color: var(--background-color);
    padding-inline: 12px;
    padding-block: 6px;
    border-radius: 40px;
    gap:8px;
}
.od-search span{
    font-size: var(--font-size-base);
    color: #475467;
}
.od-links{
    gap: 5px;
    align-items: stretch;
}
.special{
    position: relative;
    z-index: 1;
}
.special a{
    background-color: #fff;
}
.special a:hover{
    background-color: #fff !important;
}
@property --angle{   
    syntax: "<angle>";/* This controls the values this variable can accept. Angle means it has to be a number followed by degrees. */
    initial-value: 0deg;
    inherits: false; /* this is also a default setting for custom property */
}
.special::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    /* background-image: conic-gradient(from var(--angle),#ffab00, #f04438, #20b486, #ffab00, #f04438, #20b486, #ffab00); */
    background-image: conic-gradient(#ffab00, #f04438, #20b486, #ffab00, #f04438, #20b486, #ffab00);
    /* filter: hue-rotate(0); */
    z-index: -1;
    padding: 1px;
    top:50%;
    left: 50%;
    transform: translate(-50.2%,-50%);
    box-sizing: content-box;
    animation:.5s spin  linear infinite;
}

@keyframes spin {
    from{
        /* --angle:0deg; */
        filter: hue-rotate(0);
    }
    to{
        filter:hue-rotate(1turn)
    }
}
.od-links{
    gap:8px;
}
.od-left-links-container,
.ostad-left-nav-links{
    gap:16px;
}

/*-------------------- Rignt nav links------------------ */
.od-notification-container span{
    font-size: var(--font-size-small);
    display:inline-block;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fda29b;
}
.od-notification-container{
    padding-inline: 4px;
    padding-block: 8px;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--background-color);
}
.od-language-container{
    gap:5px;
}
.od-all-courses-container,.od-dashboard{
    padding: 8px 24px;
    background-color: var(--background-color);
    border-radius: 8px;
    gap: 5px;
}
.od-dashboard{
    color: #fff;
    background-color: var(--black-color);
}
.od-dashboard img{
    filter: invert(100%);
}
.od-profile{
    width: 32px;
    height: 32px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family:var(--font-semi-bold);
    border-radius: 50%;
    background-color: var(--black-color);
    color: #fff;
    position: relative;
}
.od-profile div{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.ostad-header .container{
 justify-content: space-between;
 padding-block: 16px;
}
.od-right-links-container{
    gap:8px;
}
.ostad-header {
    background-color:#fff;
    position: relative;
}


/* -------------------Nav Profile Card ------------------ */


.namebadge-container div img{
    width: 12px;
}
.verify img,.class-join img{
    width: 18px;
}
.navigate-btn-container img{
    width: 19px;
}
.self-info-container .image-container{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    color: #fff;
    font-family: var(--font-semi-bold);
    font-size: var(--font-size-base);
}
.details-container .namebadge-container .profile-name{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color:var(--text-color);
}
.details-container .namebadge-container .badge{
    border: 1px dashed #ad65fc;
    color:#ad65fc;
    border-radius: 4px;
    display: flex;
    align-items:center;
    width: fit-content;
    padding: 2px 4px;
    font-size: 12px;
}
.details-container .namebadge-container{
    display: flex;
    gap:4px;
    align-items: center;
}
.details-container .gmail{
    font-size: var(--font-size-base);
    color: #667085;
}

.self-info-container{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--background-color);
    padding:8px;
    border-radius: 8px;
    border: 1px solid #f3f4f7;
}


.verify-text,.class-join-text{
    display: flex;
    align-items: center;
    gap: 6px;
}
.verify,.class-join{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
}
.verify-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-color);
    padding:12px;
    border-radius: 8px;
    border: 1px solid #f3f4f7;
}
.profile-button, .log-out-button{
    display: flex;
    width: 50%;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    gap:8px;
    border-radius: 5px;
    padding-block: 8px;
    font-family: var(--font-semi-bold);
    text-transform: uppercase;
    font-size: var(--font-size-base);
}

.profile-button:hover,.log-out-button:hover,
.class-join:hover,
.verify:hover{
    background-color: #eaecf0;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate-btn-container{
    display: flex;
    align-items: center;
    gap:8px;
    justify-content: space-between;

}
.nav-profile-card{
    width: 343px;
    position: absolute;
    background-color: #fff;
    padding: 8px;
    display: none;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    right: 10px;
    top:calc(100% + 10px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ;
}
.profile-active{
    display: flex;
}