
/*-------------------- Rignt nav links------------------ */

.od-notification-container span{
    font-size: var(--font-size-small);
    display:inline-block;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #fda29b;
    pointer-events: none;
}
.od-notification-wrapper{
    position: relative;
}
.od-notification-container{
    padding-inline: 4px;
    padding-block: 8px;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--background-color);

}

.od-language-container{
    gap:5px;
}
.od-all-courses-container,.od-dashboard{
    padding: 8px 24px;
    background-color: var(--background-color);
    border-radius: 8px;
    gap: 5px;
    text-wrap:nowrap;
}
.od-dashboard{
    color: #fff;
    background-color: var(--black-color);
}
.od-dashboard img{
    filter: invert(100%);
}
.od-profile{
    width: 32px;
    height: 32px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family:var(--font-semi-bold);
    border-radius: 50%;
    background-color: var(--black-color);
    color: #fff;
    position: relative;
}
.od-profile div{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

.ostad-header .container{
 justify-content: space-between;
 padding-block: 16px;
 background-color: #fff;
 box-shadow: 0 4px 8px -8px rgba(8, 31, 77, .2);
}
.od-right-links-container{
    gap:8px;
}
.ostad-header {
    background-color:#fff;
    position: relative;
    z-index:1;
    /* box-shadow: 0 4px 8px -8px rgba(8, 31, 77, .2); */
}

/* -------------------Nav Profile Card ------------------ */



.namebadge-container div img{
    width: 12px;
}
.verify img,.class-join img{
    width: 18px;
}
.navigate-btn-container img{
    width: 19px;
}



/* ------------Self info Container----------- */
.self-info-container .image-container{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    color: #fff;
    font-family: var(--font-semi-bold);
    font-size: var(--font-size-base);
}
.details-container .namebadge-container .profile-name{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color:var(--text-color);
}
.details-container .namebadge-container .badge{
    border: 1px dashed #ad65fc;
    color:#ad65fc;
    border-radius: 4px;
    display: flex;
    align-items:center;
    width: fit-content;
    padding: 2px 4px;
    font-size: 12px;
}
.details-container .namebadge-container{
    display: flex;
    gap:4px;
    align-items: center;
}
.details-container .gmail{
    font-size: var(--font-size-base);
    color: #667085;
}

.self-info-container{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--background-color);
    padding:8px;
    border-radius: 8px;
    border: 1px solid #f3f4f7;
    transform: translateY(25px);
    opacity: 0;
}
.self-info-container-active{
    
    animation: forwardTransitionSelf .3s .1s cubic-bezier(0.18, 0.89, 0, 1.22) forwards;
}


/* --------------Verify Container-------------- */
.verify-text,.class-join-text{
    display: flex;
    align-items: center;
    gap: 6px;
}
.verify,.class-join{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    transform: translateX(-35px);
    opacity: 0;
   
}
.verify-active{
    animation: forwardTransitionVerify .3s .15s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.verify-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-color);
    padding:12px;
    border-radius: 8px;
    border: 1px solid #f3f4f7;
}



/* ---------------Profile and Login Container----------------- */
.profile-button, .log-out-button{
    display: flex;
    width: 50%;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    gap:8px;
    border-radius: 5px;
    padding-block: 8px;
    font-family: var(--font-semi-bold);
    text-transform: uppercase;
    font-size: var(--font-size-base);
    color: var(--text-color);
    border: 1px solid #f3f4f7;
}

.profile-button:hover,.log-out-button:hover,
.class-join:hover,
.verify:hover{
    background-color: #eaecf0;
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigate-btn-container{
    display: flex;
    align-items: center;
    gap:8px;
    justify-content: space-between;
    transform: translateX(-35px);
    opacity: 0;
}
.navigate-btn-container-active{
    animation: forwardTransitionVerify .3s .25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.nav-profile-card{
    width: 343px;
    position: absolute;
    background-color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    right: 10px;
    top:calc(100% + 10px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px ;
}
.profile-deacive{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-7%) ;
    transform-origin: 0% 90%;
    transition: all .2s  ease-in-out;
}
.profile-active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: unset;
    visibility: visible;
    display: flex;
    transition: all .2s  ease-in-out;  
}


/* ------------Animation------------ */

@keyframes forwardTransitionSelf {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes forwardTransitionVerify {
    from {
        transform: translateX(-35px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}



/*! ---------od-course-expand---------- */


/* --course-header-- */

.od-course-category-container .course-header p{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color: var(--text-color);
    white-space:nowrap;
}
.od-course-category-container .course-header div{
    width: 100%;
    height: 1px; 
    background-color:#eaecf0;
}
.od-course-category-container .course-header{
    display: flex;
    align-items: center;
    gap: 16px;
}


/* --course-category-wraper-- */

.img-name-container .img-cont img{
    width: 24px;
}

.img-name-container .img-cont{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    flex-shrink: 0;
}

.course-name-container .course-name{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color: var(--text-color);
    /* display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:calc(100% - 64px); */
    overflow: hidden;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    /* white-space: pre-wrap; */
    
}

.course-tags-container .course-tag .dot{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color:#d0d5dd;
    border-radius: 50%;
}
.course-tags-container .course-tag{
    font-size: 12px;
    color:#667085;
    display: flex;
    align-items: center;
    font-family: var(--font-regular);
    gap: 4px;
}

.course-tags-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:8px;
}
.course-category-info .img-name-container{
    display: flex;
    align-items: center;
    gap:16px;
}

.course-category-info .course-arrow img{
    width: 24px;
}

.course-category-info .course-arrow{
    display:none;
    width: 24px;
    align-items: center;
    justify-content: center;
}

.course-category-info{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px;
    border-radius: 8px;
    background-color: var(--background-color);
    box-shadow: rgba(8, 31, 77, 0.2) 0px 4px 8px -8px;

}





/* --course-category-info:hover-- */

.course-category-info:hover .course-arrow{
    display: flex;
}
.course-category-info:hover .course-name{
    text-decoration: underline;
    text-decoration-color: var(--black-color);
}
.course-category-info:hover{
    background-color: rgb(234, 236, 240);
}

.od-course-category-container .course-category-wraper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:16px;
}

/* --course-category-info-active-- */
.course-category-info-active, .course-category-info-active:hover{
    background-color: var(--black-color) ;
}

.course-category-info-active  .course-name,
.course-category-info-active:hover .course-name{
    color:#fff ;
    text-decoration: underline ;
    text-decoration-color: #fff ;
    /* display: block ;
    width: 80% ;
    white-space: nowrap ;
    overflow: hidden ;
    text-overflow: ellipsis ; */
    
}
.course-category-info-active  .course-tag{
    color:#d0d5dd !important;
}
.course-category-info-active .course-arrow{
    display: flex !important;
}




.od-course-category-container{
    width: calc(100% - 439px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.all-courses-container-btn img{
    width: 24px;
}
.all-courses-container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    background-color: var(--black-color);
    color:#fff;
    font-family: var(--font-semi-bold);
    padding-inline: 24px;
    padding-block: 12px;
    border-radius: 8px;
}

/* --od-courses-container-- */



.od-crs-cont-header .od-crs-see-all{
    font-size: var(--font-size-small);
    text-transform: uppercase;
    padding: 8px 12px;
    background-color:#eaecf0 ;
    border-radius: 4px;
    white-space: nowrap;
    font-family: var(--font-semi-bold);
    color:var(--text-color);
}

.od-crs-cont-header .od-crs-line{
    width: 100%;
    height: 1px; 
    background-color:#eaecf0;    
}

.od-crs-cont-header .od-crs-header-name{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color: var(--text-color);
    white-space:nowrap;
}

.od-courses-container .od-crs-cont-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

/* --od-crses-info-cont-- */
.crs-teg-det img{
    width: 12px;
}
.crs-teg-det span{
    font-size: var(--font-size-small);
    font-family: var(--font-semi-bold);
}
.crs-det-tags-container .crs-teg-det{
    display: flex;
    align-items: center;
    gap:4px;
    padding:2px 6px;
    border-radius: 4px;
    background-color: var(--background-color);
}
.crs-det-tags-container{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}
.crs-det-title .crs-det-title-name{
    line-height: 24px;
    font-size: var(--font-regular);
    font-family: var(--font-semi-bold);
}
.crs-det-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.od-crses-info-cont .crs-det>img{
    width: 128px;
    height: 72px;
    border-radius: 4px;
    object-fit: cover;
}
.od-crses-info-cont .crs-det{
    width: 100%;
    background-color: #fff;
    padding:8px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    border: 0 solid #e5e7eb;
    box-shadow: rgba(8, 31, 77, 0.2) 0px 4px 8px -8px;
}


.od-courses-container .od-crses-info-cont{
    width: 100%;
    padding:16px;
    background-color: #f9f9fa;
    border-radius: 8px;
    height: 344px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap:12px;
}
.od-courses-container .od-crses-info-wrap{
    overflow: hidden;
    border-radius: 8px;
}
.od-courses-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 439px;
    flex-shrink: 0;
}

.od-crses-info-cont .crs-det:hover{
    background-color: #f9f9fa;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    outline: 1px solid var(--black-color);
}




/* !-------------------Scroll bar Styling------------------ */

/* Custom Scrollbar Styling (WebKit browsers) */
.od-courses-container .od-crses-info-cont::-webkit-scrollbar,
.notification-all::-webkit-scrollbar{
    width: 5px; /* Width of the scrollbar */
}

.od-courses-container .od-crses-info-cont::-webkit-scrollbar-track,
.notification-all::-webkit-scrollbar-track{
    background: #d0d5dd;; /* Background of the scrollbar track */
   /* Rounded corners */
    border-top-right-radius:50px ;
    overflow: hidden;
}

.od-courses-container .od-crses-info-cont::-webkit-scrollbar-thumb,
.notification-all::-webkit-scrollbar-thumb{
    background: var(--black-color); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.od-courses-container .od-crses-info-cont::-webkit-scrollbar-thumb:hover,
.notification-all::-webkit-scrollbar-thumb:hover{
    background: #555; /* Color when hovered */
}





/* --od-course-expand-container-- */
.od-course-expand-container{
    display: flex;
    gap: 16px;
    margin-inline: auto;
    max-width: 1156px;
    width: 100%;
    padding-top:16px;
    padding-inline: 16px;
}
.od-course-expand-inside{
    display: flex;
    flex-direction: column;
    gap:48px;
    background-color: #fff;
}
.od-course-expand{
    /* padding-inline: 20px; */
    height:calc(100vh - 72px);
    background-color: #10182866; /* Equivalent to  */
    backdrop-filter: blur(7.5px);
    position: absolute;
    width: 100%;
    transform: translateY(-3000%);
    z-index: -1;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
}
.od-course-expand-active{
    transform: translateY(0);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    
}

/* !----app-downloader-wraper---- */
.app-down-separator{
    width: 16px;
    height: 1px;
    transform: rotate(90deg);
    background-color: #bebebe;
}
.app-down-btn span{
    font-size: var(--font-size-base);
    font-family: var(--font-bold);
    color:#98a2b3;
}
.app-down-btn img{
    width: 18px;
}
.app-down-btn{
    display: flex;
    align-items: center;
    gap:8px;
    padding:4px 12px;
    border-radius: 4px;
    background-color:#eaecf002 ;
    cursor: pointer;
}
.app-downloader-container .app-down-btn:hover{
    background-color: #d0d5dd
}
.app-downloader-container{
    margin-inline: auto;
    max-width: 1156px;
    padding-inline: 16px;
    padding-block: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-downloader-container .app-down{
    display: flex;
    gap:8px;
    align-items: center;
}

.free-courses .app-down-btn{
    background-color: #eaecf0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px 12px;
}
.free-courses .app-down-btn:hover{
 background-color: #d0d5dd
}
.free-courses .app-down-btn span{
    font-family: var(--font-regular);
    color:var(--text-color);
    font-size:var(--font-size-small);
}
.app-downloader-wraper{
    background-color: #E6E7E9;
}




/* ----Click problems soln------ */
button#allCrsesNavBtn span,
button#allCrsesNavBtn img {
    pointer-events: none; /* Ensures child elements do not interfere with click */
}




/* !------------Notification----------- */
.od-notification-wrapper .od-all-notifications {
    position: absolute;
    top:50px;
    right: 0;
    min-width:375px;
    height: fit-content;
    max-height: 521px;
    width:375px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    z-index: 77;    
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.notify-header-container,.notify-unread-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 16px;
    border-bottom: 2px solid #dee2e7;
}
.notify-header-container img{
    width: 24px;
    height: 24px;
}
.notify-heading{
    font-size: 18px;
    font-family: var(--font-semi-bold);
    color:var(--text-color);
}
.notify-unread-container .unread{
    color:#475467;
    font-size: 14px;
    font-family: var(--font-regular);
}
.notify-markall-contr{
    display: flex;
}
.notify-markall-contr img{
    width: 19px;
    height: 19px;
}
.notify-markall-contr p{
    color:#000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--font-semi-bold);
    gap:8px;
}

.notification-all{
    display: flex;
    flex-direction: column;
    gap:4px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color:#eaecf0;
}

.single-not-cont{
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px;
    gap:8px;
    background-color: #fff;
}
.noti-img-cont{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.noti-img-cont .noti-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f04438;
}
.noti-img-cont img{
    width: 40px;
    height: 40px;
}
.noti-text-cont{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-size-base);
    color: var(--black-color);
}
.noti-text-tags-cont{
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: 4px;
}
.noti-text-tags-cont p{
    white-space: nowrap;
}
.noti-tag-with-dot{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap:4px;
}
.noti-tag-with-dot p {
    overflow: hidden;                  /* Hide overflowing text */
    display: -webkit-box;              /* Required for line clamping */
    -webkit-box-orient: vertical;      /* Specifies vertical stacking of lines */
    -webkit-line-clamp: 1;             /* Limits text to 1 line */
    text-overflow: ellipsis;           /* Adds an ellipsis for overflow */
    /* background-color: red;             Your background color */
    word-break: normal;                /* Prevent breaking words arbitrarily */
    white-space: normal;
}

.noti-btn-cntr{
    padding:8px;
    background-color: #f9f9fa;
}

.noti-btn-cntr button{
    font-size: 14px;
    color:var(--black-color);
    text-transform: uppercase;
    padding:8px 24px;
    background-color: rgb(208, 213, 221);
    width: 100%;
    font-family: var(--font-semi-bold);
    border-radius: 5px;

}
